<!DOCTYPE html>
<html>
    <head>
        <title> Climate Starter Routes Page </title>
    </head>
    <body>
        <dl>
            <dt>Home Page</dt><dd>/</dd>
            <dt>Precipitation Page</dt><dd>/api/v1.0/precipitation</dd>
            <dt>Stations Page</dt><dd>/api/v1.0/stations</dd>
            <dt>Tobs Page</dt><dd>/api/v1.0/tobs</dd>
            <dt>Start Page</dt><dd>/api/v1.0/&lt;start&gt;</dd>
            <dt>Start/End Page</dt><dd>/api/v1.0/&lt;start&gt;/&lt;end&gt;</dd>
        </dl>
    </body>
</html>